<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.evm.queries.InferredModelQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.evm.queries.InferredModelQueries" id="com.incquerylabs.evm.queries.InferredModelQueries"/>
  </extension>
  <extension id="com.incquerylabs.evm.queries.ExampleModelQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.evm.queries.ExampleModelQueries" id="com.incquerylabs.evm.queries.ExampleModelQueries"/>
  </extension>
</plugin>
